user_name   = "FLEXIHPC_USER"
tenant_name = "FLEXIHPC_PROJECT_NAME"
auth_url    = "https://keystone.akl-1.cloud.nesi.org.nz/v3"
region      = "akl-1"

key_pair    = "FLEXIHPC_KEYPAIR_NAME"
key_file    = "FLEXIHPC_KEYFILE"

flavor_id   = "ee55c523-9803-4296-91be-1c34e986baaa"
image_id    = "a5c9b7b2-e77b-4094-99ac-db0cf5181da5"
vm_user     = "ubuntu"